In [1]:
import csv
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
stock_list = []
    
for page in range(1, 37):
    url = f'https://finance.naver.com/sise/sise_market_sum.naver?&page={page}'
    req = requests.get(url)
    soup = BeautifulSoup(req.text, 'html.parser')
    
    menu = soup.find("thead").find_all("th")
    menu_head = [head.get_text() for head in menu]
    menu_head = menu_head[1:-1]
    
    stocks_list = soup.find("table", attrs={"class": "type_2"}).find("tbody").find_all("tr")
    stocks = [stock.get_text().split() for stock in stocks_list]
    
    for i in stocks:
        if(i != []):
            i = i[1:]
            stock_list.append(i)

In [3]:
df = pd.DataFrame()
for head in menu_head:
    df[head] = 0

In [9]:
j = 0
for i in stock_list:
    l = len(i)

    if l == 11:
        df.loc[j] = i
    elif l == 12:
        i[1] = i[0] + ' ' + i[1]
        del i[0]
        df.loc[j] = i
    elif l == 13:
        i[2] = i[0] + ' ' + i[1] + ' ' + i[2]
        del i[0:2]
        df.loc[j] = i
    elif l == 14:
        i[3] = i[0] + ' ' + i[1] + ' ' + i[2] + ' ' + i[3]
        del i[0:3]
        df.loc[j] = i
    elif l == 15:
        i[4] = i[0] + ' ' + i[1] + ' ' + i[2] + ' ' + i[3] + ' ' + i[4]
        del i[0:4]
        df.loc[j] = i
    elif l == 16:
        i[5] = i[0] + ' ' + i[1] + ' ' + i[2] + ' ' + i[3] + ' ' + i[4] + ' ' + i[5]
        del i[0:5]
        df.loc[j] = i
    elif l == 17:
        i[6] = i[0] + ' ' + i[1] + ' ' + i[2] + ' ' + i[3] + ' ' + i[4] + ' ' + i[5] + ' ' + i[6]
        del i[0:6]
        df.loc[j] = i
    else:
        print(l)
    '''
    elif l > 11:
        print(i)
        for z in range(l-10):
            i[l-11] += i[z]
    '''
    j += 1

In [5]:
df

,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
0,삼성전자,"66,600",900,-1.33%,100,"3,975,875","5,969,783",51.25,"12,990,771",11.53,13.92
1,LG에너지솔루션,"435,000","6,000",-1.36%,500,"1,017,900","234,000",3.03,"305,867",109.77,10.68
2,SK하이닉스,"108,000","2,000",-1.82%,"5,000","786,243","728,002",49.84,"3,665,926",8.19,16.84
3,삼성바이오로직스,"835,000","4,000",-0.48%,"2,500","552,478","66,165",10.56,"57,401",142.06,8.21
4,NAVER,"308,500","4,500",-1.44%,100,"506,091","164,049",54.38,"368,688",3.07,106.72
...,...,...,...,...,...,...,...,...,...,...,...
1763,SOL 선진국MSCI World(합성 H),"17,990",60,-0.33%,0,18,100,0.00,1,N/A,N/A
1764,KBSTAR 200생활소비재,"7,295",70,-0.95%,0,18,240,0.00,"11,478",N/A,N/A
1765,KBSTAR 200경기소비재,"9,940",40,-0.40%,0,10,100,0.00,"1,041",N/A,N/A
1766,KBSTAR 200산업재,"11,965",30,-0.25%,0,7,60,0.00,13,N/A,N/A
1767,KBSTAR 코스피ex200,"13,950",185,+1.34%,0,7,50,0.00,"1,228",N/A,N/A

In [6]:
a = df.loc[:, '시가총액']

In [7]:
result = 0
for k in a:
    k = k.replace(",", "")
    result += int(k)

In [10]:
result

219865300